/*selectores basicos*/
/*Por etiqueta*/
p{
    color: blue; /*esta propiedad es para darle color al contenido*/
}
 /*por clase (reutilizable)*/
 .boton{
    background: red ;
 }
 /*por atributo*/
 input[type="text"]{
    color: brown;
 }
 /*combinado: hijo directo*/
 nav > a{
    text-decoration: none; /*propiedad para quitar el subrrayado de las etiquetas a* */
 }

 /* modelo de caja*/ 
 div{
    background: pink;

    width: 100px;  /*ancho del elemento*/
    height: 80px;  /*alto del elemento*/
    
    /* se usa para el espacio que debe tener el contenido dentro de la caja*/
    padding-top: 5px;
    padding-left: 10px;
    /*padding:5px; esto le dara 5 pixeles a los 4 lados del padding */

    border-radius: 10px; /*esquinas redondeadas*/
    border: 2px solid black; /**/

    margin-top: 20px;
 }
 /*COLORES. FUENTE Y ESTILO*/
 /*COLORES*/
 .color-hexa{
   color: #a3fb2b;
 }
 .color-rgb{
   color:rgb(251,43,217); /*cada valor se relaciona posicionalmente a las letras y sus 
   valores van del 0-255*/
 }
 .color-trans{
   color:rgba(251,43,217,0.5);
 }

 /*FUENTE*/
 .fuente-estilizada{
   font-family:'Black Ops One',Verdana, sans-serif;
   font-size: 1em; /*tamaño a la fuente, 1 em equivale a 12px*/
   font-weight: 900; /*especificar el grosor de la linea de la fuente sus valores van de 
   del 100-900 se relaciona con el estilo negrita siendo 900 ms negrita y 100 la linea mas delgada*/
   line-height: 2; /*espaciado entre lineas*/
 }
 /*transformaciones*/
 .text-transfor{
   text-align: center;
   text-decoration: 4px underline dashed purple;
   text-transform: capitalize; /*tenemos las propiedades uppercase(mayuscula) lowercase(minuscula)*/
 }